.idea
.pytest_cache
.ipynb_checkpoints
1_Processing_and_recording/Data/*.SAC
__pycache__
4_Building_a_catalog/*.out
4_Building_a_catalog/*.lis
4_Building_a_catalog/*_picked.xml
4_Building_a_catalog/IASP91_linux.HED
4_Building_a_catalog/IASP91_linux.TBL
4_Building_a_catalog/STATION0.HYP
4_Building_a_catalog/gmap.cur.kml
4_Building_a_catalog/remodl.hed
4_Building_a_catalog/remodl.tbl
4_Building_a_catalog/to_be_located